.reset-wrapper {
    background: url("../Main/app-background.jpg");
    height: 100vh;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
}
.reset {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    border-style: solid;
    border-radius: 30px;
    opacity: 90%;
}